

#mesa_icone {
	width: 100px;
	height: 100px;
	margin: 2px;
}

.div-mesa {
	margin: 1px 0px 1px 0px;
	display: inline-block;
}

.tabela-mesa {
	
}

.btn-mesa {
	background-color: white;
	padding: 2px 15px 2px 15px;;	
}

.btn-mesa h5{
	text-align: left;	
}

.numero-mesa {
	margin-top: 0px;
	margin-bottom: 0px;
}

.divComandaDados{
/*border: 1px solid #dddddd;*/
	height: 15%;
 }
 
 .row-gerenciameto{
	height: 80%;
	padding-bottom: 10px;
}
 
 .btn-grupo{
 	width: 100%;
 	margin: 1px 0px 1px 0px;
 	white-space: normal !important;
    word-wrap: break-word;
   	font-size: large;
   	padding: 5px;
 }
 
 .divBtnGrupo{
 	border: 1px solid #dddddd;
 	padding: 0px;
 
 }
 
 .divBtnGrupoInterna{
 	padding-left: 0px;
 	padding-right: 0px;
 }
 
 .itemProduto{
	display: inline-block;
	text-align: center;
	margin: 2px;
	padding: 2px
	
 }
 
 .imgItemProduto{
 	width: 100px;
	height: 90px;
	
 }
 
 .btn-itemProduto{
 	background-color: white;
 }
 
 .textoItemProduto{
 	text-align: center;
 	margin-top: 5px;
 }
 
 .corpo{
 	height: 100%;
 
 }
 
 .rowFooterGerenciamento{
 	padding-bottom: 5px;
 	width:100%;	
 	padding-top: 10px;

 }

.footerGerenciamento{
	
}

.btnGerenciamento{
	width: 90%;	
}

#table-fx{
	margin-bottom: 20px;
}

.btn-fx{
	margin-top: 20px;
	width: 48%
}

.rowFooterFx{
	margin-top: 2%;
 	width:100%;	
	height: 25%;
	padding-bottom: 0px;
}
 
.div-tabela-fechamento{
	overflow: auto;
	height: 70%;
	padding-bottom: 20px;
} 

.divListaItens{
	height: 80%;
	padding: 0px;
	border: 1px solid #dddddd; 
}

.div-tabela-itens{
	overflow: auto;
	height: 70%;
}



.divGrupoItens{
	padding: 0px;	
}

